<div class="form-header">
    <h3>Create New Prompt</h3>
</div>
<div class="form">
    <div class="form-group">
        <label for="titleInput">Title</label>
        <input maxlength=50 
            type="text" 
            id="titleInput" 
            class="form-control" 
            required 
            placeholder="Enter a short title for the prompt"/>
    </div>
    <div class="form-group">
        <lablel for="descriptionInput">Description</lablel>
        <textarea 
            id="descriptionInput" 
            class="form-control" 
            placeholder="Write a longer description of the prompt"></textarea>
    </div>
    <div class="form-group">
        <label for="tagsInput">
            Tags
        </label>
        <input id="tagsInput" type="text" class="form-control" placeholder="Add tag">
    </div>
</div>